/* general */
@font-face {
  font-family: nehama;
  src: url(assets/fonts/nehama-webfont.ttf), url(assets/fonts/nehama-webfont.eot);
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Rubik-Bold;
  src: url(assets/fonts/Rubik-Bold.ttf);
  font-weight: 800;
}

html,
body, #main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  direction: rtl;
  font-family: "Rubik";
}

.page {
  display: none;
  height: 100vh;
  width: 100vw;
}

.background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.bold {
  font-family: "Rubik-Bold";
}

.flex {
  display: flex;
}

.button {
  cursor: pointer;
}

/* opening */

#opening {
  background-image: url("assets/media/1home/home_bg\ .svg");
}

#symbols {
  flex-wrap: nowrap;
  width: 20em;
  height: 7vh;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 2.7vw;
  top: 5vh;
}

.symbol {
  height: 5vh;
}

#about {
  height: 1;
  background-color: white;
  width: 4em;
  height: 1.5em;
  line-height: 1.5em;
  width: 1;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  color:black;
  font-family: "Rubik-Bold";
  text-align: center;
  /* display: inline; */
  border-radius: 30px;
  vertical-align: middle;
  font-size: 2rem;
}

#about:hover {
  background-color: rgb(158, 158, 158);
}

#about:active {
  background-color: black;
  border-color: white;
  color:white;
}

#opening-text {
  flex-wrap: wrap;
  width: 24vw;
  height: 68vh;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  right: 50vw;
  top: 17vh;
}

#opening-title {
  height: 25vh;
}

#asterix {
  width: 22vw;
}

#rooms {
  flex-wrap: wrap;
  width: 36vw;
  height: 60vh;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 24.7vh;
  right: 4.7vw;
}

.room-button {
  width: 16vw;
  height: 25.5vh;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  border-width: 11px;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

#room-button-1 {
  background-image: url("assets/media/1home/room_waiting.svg");
}
#room-button-2 {
  background-image: url("assets/media/1home/room_treatment.svg");
}
#room-button-3 {
  background-image: url("assets/media/1home/room_doctor.svg");
}
#room-button-4 {
  background-image: url("assets/media/1home/room_drugs.svg");
}

.room-name {
  font-family: "Rubik-Bold";
  font-size: 4rem;
  text-align: center;
  --stroke-color: white;
  --stroke-width: 7px;
  letter-spacing: var(5px);
  color: black;
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.smooth-16 {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}
.abled {
 opacity: 0.8;
}

.abled:hover {
  opacity: 0.85;
}

.enabled {
  filter: grayscale(1);
  opacity: 0.8;
  cursor: default;
}

#ahami {
  height: 80vh;
  position:  fixed;
  right: 76vw;
  bottom: 0;
  /* align-self: flex-end; */
}
